body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #cbe7f5 0%, #33ccff 100%);
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
/* Used Preview on Mac to manually size images (300x300 px, 72 resolution)
img {
  max-height: 20rem;
}
*/

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

nav{
  background-color: #CBE7F5;
}

/**************** HERO *****************/
h1 .logo-w {
  font-size: 3.5rem;
}

ul i{
  padding: 1rem;
}

.logo-title-area h1{
  text-align: center;
}

.logo-title-area img{
  text-align: right; 
}

aside {
  text-align: right;
}

/**************** ASIDE ****************/
input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/
section {
  padding: 0.75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.description{
  color: #2d2d2d;
  height: 6rem;
  width: 25rem;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.price{
  color: #2d2d2d;
  font-weight: bolder;
  height: 1rem;
  width: 25rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.item-container img{
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*********** MEDIA QUERIES SECTION ***********/
@media screen and (max-width: 400px) {
  body {
    background: linear-gradient(to bottom, #90EE90 0%, #008000 100%);
  }
  
  nav {
    background-color: floralwhite;
    font-size: 1em;
    margin-right: 2em;
    margin-left: 2em;  
    text-align: center;
	text-decoration: none;
  } 
  

  
  nav li {
    background-color: lightblue;
    border-radius: 1em;
    list-style: none;
  }
  
  nav a {
    padding: 1em;
    text-decoration: none;
  }
  
  .logo-title-area img { /*takes out logo*/
    display: none;
  }
  
  form { /*take out submit email form*/
    display: none;
  }
}